@import url(
  "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
);

:root {
  --clr-fg: #000000;

  --clr-primary-0: #33a5e4;
  --clr-primary-10: #3191c8;
  --clr-primary-20: #2f7eac;
  --clr-primary-30: #2c6b92;
  --clr-primary-40: #285978;
  --clr-primary-50: #23475f;

  --clr-surface-0: #eef6fc;
  --clr-surface-10: #e1e8ed;
  --clr-surface-20: #d5dbdf;
  --clr-surface-30: #c8cdd1;
  --clr-surface-40: #bcc0c3;
  --clr-surface-50: #afb3b5;

  --font-size-xs: 0.694rem;
  --font-size-sm: 0.833rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;
  --font-size-xl: 1.44rem;
  --font-size-2xl: 1.728rem;
  --font-size-3xl: 2.074rem;
  --font-size-4xl: 2.488rem;

  --icon-md: 1.5rem;
  --icon-lg: 2rem;

  --space-xxs: 0.125rem;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;

  --border-radius: 0.5rem;
}

[data-theme="dark"] {
  --clr-fg: #ffffff;

  --clr-primary-10: #57afe7;
  --clr-primary-20: #72b8ea;
  --clr-primary-30: #89c2ed;
  --clr-primary-40: #9fccf0;
  --clr-primary-50: #b3d6f3;
  
  --clr-surface-0: #191f24;
  --clr-surface-10: #2e3438;
  --clr-surface-20: #454a4e;
  --clr-surface-30: #5d6165;
  --clr-surface-40: #76797d;
  --clr-surface-50: #8f9395;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon-large {
  width: var(--icon-lg);
}

.icon-medium {
  width: var(--icon-md);
}

.fill-fg {
  fill: var(--clr-fg);
}

.text-fg {
  color: var(--clr-fg);
}

body {
  font-family: "Inter", serif;
  background-color: var(--clr-surface-0);
}

.sidebar {
  height: 100vh;
  width: clamp(220px, 20vw, 320px);
  padding: var(--space-sm);
  background-color: var(--clr-surface-10);
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-sm)
}

.sidebar__title {
  font-size: var(--font-size-4xl);
  color: var(--clr-primary-0);
}

.sidebar__toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-xs) var(--space-xxs);
  border: none;
  border-radius: var(--border-radius);
  background-color: transparent;
}

.sidebar__nav-item {
  width: 100%;
  text-align: left;
  padding: var(--space-sm);
  border: none;
  border-radius: var(--border-radius);
  background-color: transparent;
  font-family: inherit;
  font-size: var(--font-size-md);
}

.sidebar__nav-item--icon {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.sidebar__projects {
  font-size: var(--font-size-lg);
  font-weight: bold;
}

.sidebar__toggle-btn:hover,
.sidebar__nav-item:hover {
  background-color: var(--clr-surface-30);
}