@import url(
  "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
);

:root {
  --clr-fg: #000000;
  --clr-fg-gray: #494949;
  --clr-fg-green: #058527;
  --clr-fg-orange: #ca6d43;
  --clr-fg-purple: #a94acf;

  --clr-primary-0: #33a5e4;
  --clr-primary-10: #3191c8;
  --clr-primary-20: #2f7eac;
  --clr-primary-30: #2c6b92;
  --clr-primary-40: #285978;
  --clr-primary-50: #23475f;

  --clr-surface-0: #eef6fc;
  --clr-surface-10: #e1e8ed;
  --clr-surface-20: #d5dbdf;
  --clr-surface-30: #c8cdd1;
  --clr-surface-40: #bcc0c3;
  --clr-surface-50: #afb3b5;

  --clr-warning: #d3563f;

  --font-size-xs: 0.694rem;
  --font-size-sm: 0.833rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;
  --font-size-xl: 1.44rem;
  --font-size-2xl: 1.728rem;
  --font-size-3xl: 2.074rem;
  --font-size-4xl: 2.488rem;

  --icon-xs: 0.75rem;
  --icon-sm: 1rem;
  --icon-md: 1.5rem;
  --icon-lg: 2rem;

  --space-xxs: 0.125rem;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 3rem;

  --border-radius-sm: 0.5rem;

  --input-scheme: light;
}

[data-theme="dark"] {
  --clr-fg: #ffffff;
  --clr-fg-gray: #adadad;
  --clr-fg-green: #23a049;
  --clr-fg-orange: #ff9a14;
  --clr-fg-purple: #a970ff;

  --clr-primary-10: #57afe7;
  --clr-primary-20: #72b8ea;
  --clr-primary-30: #89c2ed;
  --clr-primary-40: #9fccf0;
  --clr-primary-50: #b3d6f3;
  
  --clr-surface-0: #191f24;
  --clr-surface-10: #2e3438;
  --clr-surface-20: #454a4e;
  --clr-surface-30: #5d6165;
  --clr-surface-40: #76797d;
  --clr-surface-50: #8f9395;

  --input-scheme: dark;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon { flex-shrink: 0; }

.icon--sm { width: var(--icon-sm); }
.icon--md { width: var(--icon-md); }
.icon--lg { width: var(--icon-lg); }

.text-sm { font-size: var(--font-size-sm); }
.text-md { font-size: var(--font-size-md); }
.text-lg { font-size: var(--font-size-lg); }
.text-bold { font-weight: bold; }

.text-fg {
  color: var(--clr-fg);
  transition: color 0.4s ease;
}

.fill-fg {
  fill: var(--clr-fg);
  transition: fill 0.4s ease;
}

.hidden { display: none !important; }

.separator {
  margin: var(--space-sm);
  border-bottom: 1px solid var(--clr-surface-30);
  transition: border-color 0.4s ease;
}

.surface-interactive {
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius-sm);
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.surface-interactive:hover {
  background-color: var(--clr-surface-20);
}

html, body {
  height: 100%;
}

body {
  display: flex;
  font-family: "Inter", serif;
}

.center-icon { display: block; }

a { text-decoration: none; }

.add-task-dialog,
.delete-project-dialog,
.delete-task-dialog {
  position: fixed;
  top: 20%;
  left: 50%;
  translate: -50% -50%;
  border: 1px solid var(--clr-surface-50);
  border-radius: var(--border-radius-sm);
  background-color: var(--clr-surface-10);
  padding: var(--space-md);
}

.add-task-dialog {
  width: 40rem;
}

.add-task-dialog__form {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.add-task-dialog__form input[type="text"] {
  border: none;
  outline: none;
  color: var(--clr-fg);
  background-color: var(--clr-surface-10);
}

.add-task-dialog__title-input {
  font-size: var(--font-size-lg);
  font-weight: bold;
}

.add-task-dialog__description-input {
  font-size: var(--font-size-md);
}

.add-task-dialog__select-group {
  display: flex;
  gap: var(--space-sm);
  max-width: 70%;
}

.add-task-dialog__select-group > * {
  flex: 1;
}

.add-task-dialog__date-input,
.add-task-dialog__priority-select,
.add-task-dialog__project-select {
  border: 1px solid var(--clr-surface-50);
  background-color: var(--clr-surface-10);
  color-scheme: var(--input-scheme);
  padding: var(--space-sm);
}

.add-task-dialog__bottom {
  display: flex;
  justify-content: space-between;
  gap: var(--space-md);
}

.add-task-dialog__project-select {
  flex: 3;
  min-width: 0;
}

.add-task-dialog__button-group {
  display: flex;
  flex-direction: row-reverse;
  flex: 2;
  gap: var(--space-sm);
}

.add-task-dialog__button-group button {
  flex: 1;
  font-family: inherit;
  font-size: var(--font-size-md);
  cursor: pointer;
  padding: var(--space-xs) var(--space-md);
  border-radius: var(--border-radius-sm);
}

.add-task-dialog__cancel-btn {
  color: var(--clr-fg);
  border: 1px solid var(--clr-surface-50);
  background-color: var(--clr-surface-0);
}

.add-task-dialog__submit-btn {
  color: black;
  border: 1px solid var(--clr-primary-20);
  background-color: var(--clr-primary-20);
}

.delete-project-dialog,
.delete-task-dialog {
  width: 25rem;
}

.delete-project-dialog__form,
.delete-task-dialog__form {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.delete-project-dialog__button-group,
.delete-task-dialog__button-group {
  display: flex;
  gap: var(--space-sm);
  align-self: flex-end;
  width: 10rem;
}

.delete-project-dialog__button-group button,
.delete-task-dialog__button-group button {
  flex: 1;
  font-family: inherit;
  font-size: var(--font-size-md);
  cursor: pointer;
  border-radius: var(--border-radius-sm);
  padding: var(--space-xs) var(--space-sm);
}

.delete-project-dialog__cancel-btn,
.delete-task-dialog__cancel-btn {
  color: var(--clr-fg);
  border: 1px solid var(--clr-surface-50);
  background-color: var(--clr-surface-0);
}

.delete-project-dialog__delete-btn,
.delete-task-dialog__delete-btn {
  color: white;
  border: 1px solid var(--clr-surface-50);
  background-color: var(--clr-warning);
}

.backdrop {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 99;
}

.backdrop.active {
  display: block;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: clamp(220px, 20vw, 300px);
  padding: var(--space-sm);
  background-color: var(--clr-surface-10);
  transition: background-color 0.4s ease;
}

.sidebar:hover .sidebar__toggle-projects-btn {
  display: inline;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-sm)
}

.sidebar__title {
  font-size: var(--font-size-4xl);
  font-weight: bold;
  color: var(--clr-primary-0);
}

.sidebar__toggle-btn {
  padding: var(--space-xs) var(--space-xxs);
}

.sidebar__row {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-sm);
  width: 100%;
}

.sidebar__row--projects,
.project {
  padding: 0;
}

.sidebar__row--projects:hover .sidebar__add-project-btn,
.project:hover .project__options-btn,
.task:hover .task__options-btn,
.project.has-open-popover .project__options-btn,
.task.has-open-popover .task__options-btn {
  display: inline;
}

.sidebar__project-navigation {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.sidebar__projects-link,
.project__link {
  flex: 1;
  text-align: left;
  padding: var(--space-sm);
}

.sidebar__project-controls {
  display: flex;
  align-items: center;
}

.sidebar__project-controls button,
.project__options-btn,
.task__options-btn {
  display: none;
  padding: var(--space-xxs);
}

.sidebar__project-controls button:hover,
.project__options-btn:hover {
  background-color: var(--clr-surface-30);
}

.sidebar__toggle-projects-btn svg {
  transition: transform 0.2s ease, fill 0.4s ease;
}

.sidebar__toggle-projects-btn svg.rotate {
  transform: rotate(-90deg);
}

.sidebar__project-list-wrapper {
  overflow: hidden;
  height: 0;
}

.sidebar__project-list-wrapper.animate-height {
  transition: height 0.2s ease !important;
}

.sidebar__project-list {
  overflow-y: auto;
  scrollbar-width: thin;
  max-height: 100%;
}

.sidebar__project-list.disable-scroll {
  overflow: hidden !important;
}

.project-editor {
  position: relative;
}

.project-editor__form {
  display: flex;
  gap: var(--space-xs);
}

.project-editor__edit-color-btn {
  display: flex;
  gap: var(--space-xs);
  padding: var(--space-sm);
}

.project-editor__name-input {
  font-size: inherit;
  width: 100%;
  padding: var(--space-xs) var(--space-sm);
  outline: none;
  color: var(--clr-fg);
  border: 1px solid var(--clr-surface-30);
  background-color: var(--clr-surface-10);
  border-radius: var(--border-radius-sm);
}

.project-editor__name-input:focus {
  border: 1px solid var(--clr-surface-50);
}

.project-editor__color-popover {
  position: absolute;
  top: 100%;
  left: 10%;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: var(--space-sm);
  width: fit-content;
  padding: var(--space-sm);
  border-radius: var(--border-radius-sm);
  background-color: var(--clr-surface-30);
}

.project-editor__color-popover.above {
  top: auto;
  bottom: 100%;
}

.project-editor__color-swatch-btn {
  width: var(--icon-md);
  height: var(--icon-md);
  border: none;
  border-radius: 50%;
  background: var(--color);
  cursor: pointer;
}

.project__link {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  min-width: 0;
}

.project__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-menu,
.task-menu {
  top: anchor(top);
  left: anchor(right);
  margin: 0 0 0 var(--space-sm);
  z-index: 100;
  background-color: var(--clr-surface-10);
  border: 2px solid var(--clr-surface-20);
}

.project-menu__delete-btn,
.task-menu__delete-btn {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  cursor: pointer;
  padding: var(--space-xs);
  color: var(--clr-warning);
  background-color: transparent;
  border: none;
}

.project-menu__delete-btn-icon,
.task-menu__delete-btn-icon {
  fill: var(--clr-warning);
}

.sidebar__theme-toggle-btn {
  width: fit-content;
  padding: var(--space-xs);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-surface-0);
  transition: background-color 0.4s ease;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
  margin-top: var(--space-lg);
  overflow-y: auto;
}

.content__heading {
  width: 100%;
  max-width: 50rem;
}

.content__task-list {
  width: 100%;
  max-width: 50rem;
}

.task { 
  list-style-type: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.task.completing {
  opacity: 0;
  transform: translateX(10px);
}

.task__container { display: flex; }

.task__link {
  width: 100%;
  display: grid;
  grid-template: repeat(4, auto) / 1.3rem auto;
  grid-template-areas:
    "bubble title"
    "bubble description"
    "bubble due-date"
    "separator separator";
  row-gap: var(--space-xs);
  column-gap: var(--space-sm);
  cursor: pointer;
  user-select: none;
}

.task__bubble {
  appearance: none;
  -webkit-appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 2px solid #808080;
  background: var(--clr-surface-0);
  cursor: pointer;
  transition: background 0.4s;
  display: grid;
  grid-area: bubble;
  place-content: center;
}

.task__bubble--high { border-color: #d1453b; }
.task__bubble--medium { border-color: #eb8909; }
.task__bubble--low { border-color: #246fe0; }

.task__bubble::after {
  content: "";
  width: 5px;
  height: 9px;
  border: 2px solid var(--clr-fg);
  border-top: none;
  border-left: none;
  transform: rotate(45deg) translateY(-1px);
  opacity: 0;
  transition: opacity 0.1s, border 0.4s ease;
}

.task__bubble:checked::after { opacity: 1; }

.task__title { 
  grid-area: title;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task__title--completed { text-decoration: line-through; }

.task__description {
  grid-area: description;
  font-size: var(--font-size-sm);
  color: var(--clr-fg-gray);
  transition: color 0.4s ease;
}

.task__due-date-row {
  grid-area: due-date;
  display: flex;
  gap: var(--space-xs);
  color: var(--clr-fg-gray);
  fill: var(--clr-fg-gray);
  transition: color 0.4s ease, fill 0.4s ease;
}

.task__due-date-row--today {
  color: var(--clr-fg-green);
  fill: var(--clr-fg-green);
}

.task__due-date-row--tomorrow {
  color: var(--clr-fg-orange);
  fill: var(--clr-fg-orange);
}

.task__due-date-row--weekday {
  color: var(--clr-fg-purple);
  fill: var(--clr-fg-purple);
}

.task__due-date-row--overdue {
  color: var(--clr-warning);
  fill: var(--clr-warning);
}

.separator--task { grid-area: separator; }